.flex{
    display: flex;
}
.center-in-the-middle{
    justify-content: center;
    align-items: center;
}
.justify-center{
    justify-content: center;
}
.align-center{
    align-content: center;
}
.font-style{
    font-size: 20px;
    font-family: Verdana,sans-serif;
    color: white;
}

.navbar{
    width: 100%;
    height: 64px;
    background-color: #d64161;
    display: flex;
    justify-content: space-between;
}

.navbar-left{
    width: 35%;
}
.navbar-rigth{
    width: 50%;
    justify-content: flex-end;
}

.logo{
    width: 15%;
    min-width: 65px;
}


.logo img{
    padding-left: 20px;
    max-width: 75%;
    max-height: 80%;
}

.hospital-name{
    padding-left: 30px;
}

